@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
    background-color: black;
    text-align: center;
    font-family: monospace;
    color: white;
}
a {
    color: white;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}